/* Hero */
.hero {
    height: 80rem;
}
.main{
    position: relative;
    z-index: 1;
    margin-top: -30rem;
}

.main__text,
.main__text h4{
    font-weight: 300;
    font-size: 2rem;
    color: #575756;
}

.main__text h4{
    text-transform: uppercase;
    padding: 1rem 0;
}

@media (max-width: 768px) {
  .hero{
      height: 40rem;
  }
  #hero__logo_mobile{
    margin-top: 2rem;
  }
  .main{
    margin-top: -5rem;
  }
}

@media (max-width: 500px) {
  .hero{
      height: 48rem;
  }
  .main{
    margin-top: -20rem;
  }
}