/* Hero */
.hero {
  background-image: url(../../images/f_1.png);
}

#slider {
  margin-top: 12rem;
  position: relative;
  z-index: 1 !important;
}

/* Cards Slider */
.hero__card {
  background-color: var(--white);
  border-radius: 1rem;
  gap: 2rem;
  color: var(--primary);
  opacity: 0.66 !important;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
}

.hero__card_text {
  margin-top: 2rem;
}

.hero__card_title {
  font-family: BuloRounded-Black;
  font-size: 5rem;
}

.hero__card_paragraph,
.hero__card_btn {
  font-size: 1.8rem;
  font-weight: 500;
}

.hero__card_paragraph {
  width: 85%;
  padding-bottom: 3rem;
}

.hero__card_btn {
  background-color: var(--secondary);
  padding: 1.3rem 4rem;
  border-radius: 3rem;
  color: var(--white);
}

.hero__card_img {
  margin-left: -7rem;
  padding-right: 2rem;
}

.hero__card_img img {
  max-width: 170%;
  height: auto;
}

.hero__card_title,
.hero__card_paragraph,
.hero__card_btn,
.hero__card_btn,
.hero__card_img {
  opacity: 0;
}

/* Hero Slider */
.carousel .carousel-item {
  position: absolute;
  top: 0;
  left: 0
}

.carousel {
  height: 600px;
  perspective: 100rem;
}

.carousel .carousel-item {
  width: 58%;
  background: #fff;
  padding: 6rem 5rem;
  height: auto;
  border-radius: 15px;
}

.active,
.active .hero__card_title,
.active .hero__card_paragraph,
.active .hero__card_btn,
.active .hero__card_btn,
.active .hero__card_img {
  opacity: 1 !important;
}

/* Hero svg */
.hero__svg {
  background-image: url(../../images/f_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 45rem;
}

.hero__icon {
  width: 11.8rem;
  position: absolute;
  right: 2%;
  bottom: -5rem;
  z-index: 3;
}

/* Main */
.main {
  position: relative;
  text-align: center;
  margin-top: -4rem;
}

.main__cards_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main__img {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 60%;
}

.main__img_img {
  float: left;
  width: 90%;
}

.main__img_text {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 2.2rem;
  line-height: 1.1;
}

.main__img_text span {
  color: var(--secondary);
}

.main__cards {
  width: 90%;
  margin: 2rem auto 0 auto;
}

.main__card_paragraph {
  color: var(--primary);
  font-weight: 500;
  font-size: 2rem;
  width: 70%;
  margin: 0 auto;
}

.main__card_img {
  max-width: 100%;
}

/* Main Section */
.main__section {
  position: relative;
  margin-top: 7rem;
}

#main__section_bg {
  position: absolute;
  background-image: url(../../images/p_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 60rem;
  bottom: 8rem;
  left: -37.5rem;
  z-index: -1;
}

.main__section_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
}

#main__section_subimg1 {
  max-width: 100%;
}

.main__section_text {
  width: 90%;
  text-align: left;
  color: var(--primary);
  margin: 5rem 0 0 0;
}

#main__section_title {
  font-family: BuloRounded-Black;
  font-size: 5.5rem;
}

#main__section_paragraph {
  font-weight: 500;
  font-size: 1.6rem;
}

/* Cut img */
.cut_img {
  background-image: url(../../images/f_5.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 12rem;
}

.cut_img__content {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  color: var(--white);
  padding-left: 17%;
}

#cut_img__title {
  font-weight: 500;
  width: 60%;
}

#cut_img__title span {
  font-weight: 900;
}

#cut_img__btn {
  position: relative;
  display: inline-block;
  color: var(--primary);
  font-weight: 2rem;
  padding-left: 5rem;
}

#cut_img__btn img {
  width: 65%;
}

#cut_img__btn span {
  position: absolute;
  top: 53%;
  left: 43.5%;
  transform: translate(-50%, -50%);
}

/* Slider Cards */
.slider_cards {
  width: min(90%, 125rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.slide-container {
  width: 100%;
  padding: 0 2rem;
}

.slide-content {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 2rem 2rem 0px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  min-height: 42rem;
  margin-top: 1rem;
  position: relative;
}

.card span {
  color: var(--primary);
  font-weight: 500;
  font-size: 1.9rem;
  padding-bottom: 3rem;
}

.card__border {
  background-image: url(../../images/bord_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  left: 0rem;
}

.card:nth-child(2) .card__border {
  background-image: url(../../images/bord_2.png);
  background-repeat: no-repeat;
  height: 5.5rem;
}

.card:nth-child(3) .card__border {
  background-image: url(../../images/bord_3.png);
  background-repeat: no-repeat;
  height: 12rem;
}

.card:nth-child(4) .card__border {
  background-image: url(../../images/bord_4.png);
  background-repeat: no-repeat;
  height: 15rem;
}

.card img {
  width: 12rem;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  background-image: url(../../images/icons/fle_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 5.2rem;
  height: 5.5rem;
  margin-top: 7% !important;
}

.swiper-button-prev {
  background-image: url(../../images/icons/fle_1.png);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

/* Reviews */
.reviews {
  margin-top: 10rem;
  background-image: url(../../images/fle_3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.checked {
  color: orange;
}

.reviews__content {
  padding: 5rem 0;
}

.main__review {
  width: 90%;
  margin: 0 auto;
}

.reviews__card {
  background-color: var(--white);
  padding: 2rem 3rem 2rem 1rem;
  width: 70rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
  margin: 0 0 0 3rem;
}

.reviews__card_top,
.reviews__card_top_info {
  display: flex;
}

.reviews__card_top {
  justify-content: space-between;
}

.reviews__card_top>img {
  margin: 3rem 2rem 0 0;
  width: 6rem;
  height: 6.2rem;
}

.reviews__card_top_info img {
  width: 10rem;
  height: auto;
}

.reviews__card_info {
  padding: 2rem 0 0 1rem;
}

.reviews__card_info h4 {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 500;
}

.reviews__card_info>span {
  font-size: 1.5rem;
  color: #CCCCCC;
  font-weight: 500;
}

.reviews__card p {
  font-size: 1.5rem;
  color: #666666;
  font-weight: 300;
  padding-left: 3rem;
}

.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px\9;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-next {
  right: auto;
  left: -25px
}

[dir=rtl] .slick-next:before {
  content: '←'
}

.slick-slider {
  margin-bottom: 30px
}

.slick-dots {
  bottom: -20px;
  left: -25%;
  width: 100%;
  list-style: none;
  text-align: center
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  color: #000
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden
}

.slick-slider {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  top: 0;
  left: 0
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.reviews_border {
  background-color: #35C5AF;
  height: 15rem;
}

.reviews_border_content {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  height: 15rem;
}

.reviews_border_content img {
  max-width: 100%;
}

/* Products */
.products {
  margin-top: 3rem;
}

.products__text {
  text-align: center;
}

.products__text h2 {
  font-family: BuloRounded-Black;
  color: var(--primary);
  font-size: 6rem;
  margin-bottom: 2rem;
}

.products__text span {
  font-size: 1.9rem;
  font-weight: 300;
  color: #5C5C5C;
}

.products__category {
  width: 90%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.swiper-button-next_text,
.swiper-button-prev_text {
  position: static;
  background-image: url(../../images/icons/fle_4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 5.8rem;
  height: 5.3rem;
}

.swiper-button-next_text {
  background-image: url(../../images/icons/fle_5.png);
}

.slide-content_text {
  text-align: center;
  margin: 0;
}

.products__cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 7rem;
}

.products__card {
  padding: 3rem 0 1rem 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.products__card img {
  max-width: 80%;
}

.products__card span {
  display: block;
  font-weight: 500;
  font-size: 2.3rem;
  color: #999999;
}

.products__card span:nth-child(3) {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #4D4D4D;
}

.products__card_price {
  position: relative;
  display: inline-block;
}

.products__card_price span {
  font-weight: 900;
  font-size: 3rem;
  color: var(--white);
  position: absolute;
  top: 54%;
  left: 52%;
  transform: translate(-50%, -50%);
}

/* Social Cards */
.social {
  margin-top: 7rem;
}

.social__cards {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.social__card {
  position: relative;
  display: inline-block;
}

.social__card img {
  width: 70%;
}

.social__card img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.social__card span {
  text-transform: uppercase;
  line-height: 1;
  width: 30%;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--white);
  position: absolute;
  top: 54%;
  left: 42%;
  transform: translate(-50%, -50%);
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  background-image: url(../../images/f_8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 44rem;
}

.contact__content {
  text-align: center;
  color: var(--white);
  margin: 0 auto;
}

.contact__content h2 {
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-bottom: 4rem;
}

.contact__content h2 span {
  color: #FFBF53;
  font-weight: 600;
}

.contact__form {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: auto;
  column-gap: 2rem;
}

.contact__form input {
  border: none;
  padding: 1.2rem;
  width: 100%;
}

.contact__form input:nth-child(1) {
  grid-column: 1/5;
}

.contact__form input:nth-child(2) {
  grid-column: 5/8;
}

.contact__form>div {
  grid-column: 8/10;
  background-color: #004481;
  height: 100%;
  display: flex;
  align-items: center;
}

.contact__form a {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  padding: 0 2rem;
  margin: 0 auto;
  font-size: 1.8rem;
}

.contact__terms {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.contact__terms span {
  margin-left: 1rem;
}

.icon_mobile {
  display: none;
}

.icon__desktop {
  display: block;
}

.img_desktop {
  display: block;
}

.img_mobile {
  display: none;
}

@media (max-width: 1220px) {

  /* Hero */
  .hero__card_title,
  .hero__card_paragraph,
  .hero__card_btn,
  .hero__card_btn,
  .hero__card_img {
    opacity: 1;
  }

  .hero__card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    opacity: 1 !important;
  }


  /* Slider */
  #slider .swiper {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 3rem;
    position: relative;
    z-index: 6;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.30);
  }

  #slider .swiper-slide {
    padding-top: 3.8rem;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hero__btn_slider_next {
    background-image: url(../../images/icons/slider_next.png);
    background-repeat: no-repeat;
  }

  .hero__btn_slider_prev {
    background-image: url(../../images/icons/slider_prev.png);
    background-repeat: no-repeat;
  }

  .hero__btn_slider_next,
  .hero__btn_slider_prev {
    margin-left: 1rem;
    width: 3.8rem;
    height: 3.8rem;
    z-index: 2;
  }

  .swiper__btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    padding-bottom: 1rem;
  }

  .hero__card_img {
    margin-right: 3%;
    max-width: 23%;
  }

  .main {
    margin-top: 0;
  }

  .contact__form a {
    font-size: 1.4rem;
  }
}

@media (max-width: 1100px) {
  .icon_mobile {
    display: block;
  }

  .icon__desktop {
    display: none;
  }

  .contact {
    position: relative;
  }

  .hero__icon {
    width: 15%;
    top: -7rem;
  }

  .contact__content h2 {
    font-size: 4rem;
  }

  .social__card span {
    font-size: 1.5rem;
  }

  .main__img_text {
    font-size: 1.8rem;
  }

  .slider_btn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  .reviews__card {
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .img_desktop {
    display: none;
  }

  .img_mobile {
    display: block;
  }

  .slider_cards {
    position: relative;
  }

  .main__cards_img {
    width: 80%;
    top: -15%;
    left: 0;
  }

  .main__card_img {
    max-width: 60%;
  }

  #main__section_title {
    font-size: 4rem;
  }

  #main__section_paragraph {
    font-size: 1.4rem;
  }
}

@media (max-width: 940px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }

  .slider_btn {
    padding: 1rem 0 4rem 0;
  }

  .main__img_img {
    width: 100%;
  }

  .main__img_text {
    width: 75%;
    left: 55%;
    font-size: 1.6rem;
  }

  .products__category {
    width: 100%;
  }

  .cut_img__content {
    justify-content: center;
    padding: 2.5rem 2rem;
  }

}

@media (max-width: 768px) {
  #hero__logo_mobile{
    margin-top: 0;
  }

  .hero__card_title {
    font-size: 3.5rem;
  }

  .hero__card_text {
    padding-left: 3rem;
  }

  .hero__card_paragraph {
    font-size: 1.6rem;
  }

  .hero__card_img {
    max-width: 100%;
    margin: 0;
  }

  .hero__card_img img {
    width: 24.3rem;
  }

  .main__img {
    width: 100%;
  }

  .main__img_img {
    width: 100%;
  }

  .main__img_text {
    width: 50%;
  }

  .main__section_content {
    grid-template-columns: 1fr;
  }

  .main__card_paragraph {
    font-size: 1.6rem;
  }

  #main__section_bg {
    top: -35%;
    bottom: 0;
    left: 35%;
    transform: translate(-50%);
  }

  #main__section_subimg1 {
    max-width: 100%;
  }

  .main__section_text {
    width: 95%;
    margin: 1rem auto 0 auto;
    text-align: center;
  }

  .card-wrapper a {
    font-size: 1.6rem;
  }

  .slider_cards {
    padding: 0 !important;
    width: 140%;
    position: relative;
    left: 0;
  }

  .slide-container {
    padding: 0;
    margin-left: -14%;
  }

  .card img {
    width: 11rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .cut_img__content {
    margin-left: 10%;
    padding: 0 2rem;
  }

  #cut_img__title {
    font-size: 1.5rem;
  }

  #cut_img__btn span {
    font-size: 1.5rem;
  }

  .swiper-button-next_text,
  .swiper-button-prev_text {
    width: 4.8rem;
    height: 4.3rem;
  }

  .reviews {
    background-image: url(../../images/fr_3.png);
  }

  .reviews__card_top_info img {
    max-width: 100%;
  }

  .reviews_border {
    height: 21rem;
  }

  .reviews_border_content {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 100% !important;
  }

  .reviews_border_content img {
    max-width: 100%;
  }

  .products__text h2 {
    font-size: 5rem;
  }

  .products__text h2 {
    font-size: 4rem;
  }

  .products__text span {
    font-size: 1.6rem;
  }

  .slider_cards {
    width: 100%;
  }

  .slide-container {
    margin-left: 0;
  }

  .products__card img {
    max-width: 60%;
  }

  .products__card span:nth-child(2) {
    font-size: 1.8rem;
  }

  .products__card>span:nth-child(3) {
    font-size: 1.3rem;
  }

  .products__card_price>span {
    font-size: 2rem !important;
  }

  .products__cards,
  .social__cards {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    row-gap: 3rem;
  }

  .social__card {
    width: 90%;
    margin: 0 auto;
  }

  .social__card img {
    width: 80%;
  }

  .social__card img:nth-child(2) {
    left: 55%;
  }

  .social__card span {
    font-size: 1.8rem;
    left: 55%;
  }

  .hero__icon {
    width: 17%;
  }

  .contact {
    background-image: url(../../images/fr_4.png);
  }

  .contact__content h2 {
    font-size: 2.6rem;
  }

  .contact__form {
    row-gap: 2rem;
  }

  .contact__form input:nth-child(1) {
    grid-column: 1/10;
  }

  .contact__form input:nth-child(2) {
    grid-column: 1/7;
  }

  .contact__form>div {
    grid-column: 7/10;
  }
  .hero__svg {
    height: 18rem;
  }
}

@media (max-width: 600px) {
  .row {
    margin-left: 0 !important;
  }

  .hero__card_img img {
    margin-top: 1rem;
    margin-left: -5rem;
  }

  .hero__card_paragraph {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    margin-bottom: 3rem;
  }

  .hero__card_btn {
    margin-top: 2rem;
  }

  .hero__icon {
    width: 14rem;
  }

  .hero__card_text {
    padding-left: 2rem;
  }

  .hero__card_title {
    font-size: 3rem;
  }

  /* Main */
  .main__img_img {
    height: 15rem;
  }

  .main__img_text {
    width: 60%;
    font-size: 1.4rem;
  }

  .main__cards {
    margin-left: 1.5rem !important;
  }

  .main__card_img {
    margin-left: 1rem;
    max-width: 100%;
  }

  .main__card_paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {

  
  .hero {
    background-image: url(../../images/fr_2.png);
    height: 60rem;
  }
/* Main */
.main__cards_img {
  width: 100%;
  top: 10%;
  left: -3%;
}

  /* Cut img */
  .cut_img {
    margin-top: 3rem;
  }


  /* Reviews */
  .reviews__content {
    padding: 0;
  }

  .reviews__card {
    padding: 2rem;
  }

  .reviews__card_top_info img {
    margin-top: 1.8rem;
    width: 6rem;
    height: 6rem;
  }

  .reviews__card_top>p {
    font-size: 1.2rem;
  }

  .reviews__card_info h4 {
    font-size: 1.6rem;
  }

  .reviews__card_info span {
    font-size: 1.2rem;
  }

  .reviews__card_top>img {
    width: 3rem;
    height: 3rem;
    margin-right: 0;
  }
  .reviews__card p{
    padding-left: 1rem;
  }

  .rating {
    margin-top: -1rem;
  }



  /* Products */
  .products__category .swiper-slide {
    font-size: 1.5rem;
  }

  .products__cards {
    grid-template-columns: 1fr;
  }

  /* Social */
  .social__cards,
  .social__card,
  .social__card img {
    width: 100%;
  }

  .social__card span {
    font-size: 1.6rem;
  }

  /* Contact */
  .contact__content h2 {
    font-size: 2rem;
  }

  .contact__form input:nth-child(2) {
    grid-column: 1/6;
  }

  .contact__form>div {
    grid-column: 6/10;
  }

  .contact__form>div a {
    padding: 0;
    font-size: 1.1rem;
  }

  .contact__terms {
    font-size: 1.6rem;
  }
  .hero__svg {
    height: 38rem;
  }
}

@media (max-width: 450px) {

  /* Slider */
  .hero__card {
    gap: 0;
  }

  .hero__card_text h2 {
    font-size: 2.5rem;
  }

  .hero__card_text p {
    font-size: 1.5rem;
  }

  .hero__card_img img {
    width: 45rem !important;
  }

  .hero__card_btn {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }

  .hero__btn_slider_next,
  .hero__btn_slider_prev {
    width: 3.8rem;
    height: 3.8rem;
  }

  /* Slider Cards */
  #slider_top .card-wrapper {
    margin-left: -6.8rem;
  }

  #slider_top .swiper-slide {
    width: 25rem !important
  }

  .cut_img__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
  }

  #cut_img__title {
    width: 200%;
  }

  #cut_img__btn {
    margin-left: 1rem;
    left: 0;
    padding-left: 0;
  }

  #cut_img__btn img {
    width: 100%;
  }

  #cut_img__btn span {
    width: 100%;
    font-size: 1.5rem;
    left: 55%;
  }

  /* Reviews border */
  .reviews_border {
    height: 16.5rem;
  }

  .reviews_border_content {
    width: 100%;
    max-width: 100% !important;
  }

  .reviews_border_content img {
    max-width: 100%;
  }
}