/* Hero */
.hero {
    height: 80rem;
}
.main{
    position: relative;
    z-index: 1;
    margin-top: -30rem;
}

.main__text{
    font-weight: 300;
    font-size: 2rem;
    color: #575756;
}

.main__text h4{
    font-size: 2rem;
    color: #003464;
    font-weight: 900;
    text-transform: uppercase;
}

@media (max-width: 768px) {
  .hero{
      height: 40rem;
  }
  #hero__logo_mobile{
    margin-top: 2rem;
  }
  .main{
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .hero{
      height: 48rem;
  }
  .hero > h1{
    font-size: 3rem;
  }
  .main{
    margin-top: -18rem;
  }
}