/* Hero */
.hero{
    height: 80rem;
}
/* Main */
.main{
    position: relative;
    margin-top: -32rem;
    z-index: 1;
}
.main__block_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.main__block_img > img{
    width: 70%;
}

.main__block_card{
    text-align: center;
}
.main__block_card_top,
.main__block_img{
    position: relative;
    display: inline-block;
}

.main__block_card_top span{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--white);
    position: absolute;
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%);
}
.main__block_img span{
    font-weight: 500;
    font-size: 2.2rem;
    color: var(--white);
    position: absolute;
    bottom: 7%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.main__block_text{
    margin: 0 auto;
    width: 70%;
    padding: 4rem 0;
    text-align: center;
    font-size: 2.1rem;
    color: #606060;
    font-weight: 300;
}
.main__cards_img{
    position: absolute;
    top: 35%;
    right: -20rem;
    z-index: -1;
    transform: rotate(-90deg);
    max-width: 100%;
}

.svg_mobile{
  display: block;
}

@media (max-width: 990px) {
  .container{
    width: 100%;
    padding: 0 2rem;
  }
  .main__block_img span{
    font-size: 2rem;
}
.main__block_cards{
  row-gap: 2rem;
}
}

@media (max-width: 768px) {
  .svg_mobile{
    display: none;
  }
  #hero__logo_mobile{
    margin-top: 2rem;
  }
  .hero{
    height: 35rem;
  }
  .main{
    margin-top: 0rem;
  }
  .main__block_cards{
    grid-template-columns: 1fr;
  }
  .main__block_card_top > img{
    max-width: 100%;
  }
  .main__block_card_top > span{
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .hero{
    height: 42rem;
  }
  .main{
    margin-top: -15rem;
  }
  .main__block_img span{
    font-size: 2rem;
}.main__block_img span{
  font-size: 1.6rem;
}
}