/* Hero */
.hero {
    height: 80rem;
}

/* Main */
.main{
    position: relative;
    margin-top: -25rem;
    z-index: 1;
}
.main__multi_single {
    position: relative;
    padding-top: 1rem;
}

.main-list>div:last-child {
    border: unset;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

summary {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: -2rem;
    padding-right: 4rem;
    transition: all 0.3s ease;
}

.main_right {
    padding-bottom: 1rem !important;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 55px
    }
}

details {
    min-height: 6rem;
    transition: height .8s ease-in;
}

details[open] {
    min-height: 25rem;
    transition: min-height .4s ease-in;
}

.main__multi_title {
    padding-top: .4rem;
    padding-left: 5rem;
    font-size: 3rem;
    color: #004481;
    font-weight: bold;
}
.main-content{
    font-size: 2rem;
    font-weight: 300;
}

details{
    padding-top: 1rem;
    overflow: hidden;
}

details[open] p {
  
    margin-left: 20px;
    padding-left: 25px;
}

summary:before {
    content: url('../../images/icons/i-down.png');
    transform: rotate(-90deg) scale(.8);
    position: absolute;
    top: .2rem;
    left: 1.5%;
    transition: transform .4s ease-in-out;
    margin-top: .3rem;
}

details[open] summary:before {
    background: transparent;
    content: url('../../images/icons/i-down.png');
    position: absolute;
    top: .2rem;
    left: 1.5%;
    transform: scale(.8);
    
}

summary::-webkit-details-marker {
    display: none;
}

@media (max-width: 768px) {
    .hero{
      height: 40rem;
    }
    #hero__logo_mobile{
        margin-top: 2rem;
      }
    .main{
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .hero{
        height: 47rem;
      }
    .hero > h1{
        font-size: 3.5rem;
    }
    .main{
        margin-top: -18rem;
    }
    .main__multi_title{
        font-size: 2.5rem;
    }
    summary:before {
        transform: rotate(-90deg) scale(.7);
        left: 5%;
    }
    
    details[open] summary:before {
        left: 5%;        
        transform: scale(.7);
    }
}