/* Hero */
.hero{
    height: 80rem;
}
/* Services */
.main__content{
    position: relative;
    z-index: 2;
    margin-top: -32rem;
}
.pagination{
    margin-top: 5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination>a{
  font-size: 2.2rem;
  margin: 0 1rem;
  font-weight: 300;
  color: #000;
}
.pagination li{
  margin: 0 .7rem;
}
.page-link{
  font-weight: 300;
  color: #575756;
  font-size: 2.5rem;
}
.pagination>.active > a{
  padding: 0 .5rem;
}
.prev,
.next{
    margin: 0 !important;
}
.active > span{
  padding: .1rem .3rem;
}
.products__cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7rem;
}
.products__card{
    padding: 3rem 0 1rem 0;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .products__card img{
    max-width: 80%;
  }
  .products__card span{
    display: block;
    font-weight: 500;
    font-size: 2.3rem;
    color: #999999;
  }
  .products__card span:nth-child(3){
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #4D4D4D;
  }
  .products__card_price{
    position: relative;
    display: inline-block;
  }
  .products__card_price span{
    font-weight: 900;
    font-size: 3rem;
    color: var(--white);
    position: absolute;
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
 
  .pagination_mobile{
    display: none;
  }

  @media (max-width: 768px) {
    .products__cards{
      column-gap: 7rem;
      row-gap: 3rem;
    }
    #hero__logo_mobile{
      margin-top: 2rem;
    }
    .pagination_mobile{
      display: block;
    }
    .hero{
      height: 40rem;
    }
    .main{
      position: relative;
      z-index: 1;
      margin-top: 30rem;
      background-color: var(--white);
    }
    .products__card > span:nth-child(2){
      font-size: 1.8rem;
    }
    .products__card > span:nth-child(3){
      font-size: 1.6rem;
    }
    .products__card_price > span{
      font-size: 2.5rem;
    }
    .products__card > img{
      max-width: 55%;
    }
  }

  @media (max-width: 500px) {
    .main{
      margin-top: 22rem;
    }
  }  